@font-face {
  font-family: 'Prompt';
  src: url('/Prompt/Prompt-Regular.ttf') format('truetype'),
       url('/Prompt/Prompt-Medium.ttf') format('truetype'),
       url('/Prompt/Prompt-Light.ttf') format('truetype'),
       url('/Prompt/Prompt-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Import Poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.swal2-popup {
  font-size: 1rem !important;
  font-family: 'Prompt';
}

:root {
  --font-family: 'Poppins', sans-serif; /* Set Poppins as the primary font */
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family); /* Apply the new font globally */
  background-color: #000;
}

/* styles/globals.css */

.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}
